body{
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu > div{
  background-color: #f1f1f1;
  width: 35%;
  /* border: 1px solid red; */
}
.img-logo{
  max-width: 250px;
  margin-top: 7px;
  /* background-color: #958b9c; */

}
.img-side-menu, .search-btn-img {
  background-color: #f1f1f1;
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.login{
  text-align: right;
}
.div-logo{
  text-align: center;
}
.login button{
  margin: 10px 20px  0px 20px;
}
.side-menu{
  margin-top: 10px;
  margin-left: 20px;
}
.title h1 {
  
  border : 1px solid red;
  font-size : 30px;
  font-style : italic;
  

}
.headline > p {
margin-left: 30%;
}
.main-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 530px;
}
.description {
  margin-left: 10%;
  font-size: 17px;
  color : gray;
  width: 70%;
  margin-top: 5px;
}
.credit {
  font-size: 10px;
}
.main-topic {

  margin: 0 300px 0px 300px;
}
.name-and-date {
  text-align: left;
}
.first-text p {
  justify-content: left;
  font-size: 1.5rem;
}
.first-text h3{
  font-size: 1.7rem;
}
.theory-of-avi-grid{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.theory-of-avi h3, .theory-of-avi p.avi-parag{
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10%;
}
.theory-of-avi p.avi-parag{
  color: #666;
  width: 80%;
}
.theory-of-avi-grid div img, .theory-of-avi-grid div p{
  width: 280px;
  height: 150px;
}
.theory-of-avi-grid div{
  margin-right: 20px;
}
.second-text p {
  justify-content: left;
  font-size: 1.5rem;
}
.second-text h3{
  font-size: 1.7rem;
}
.main-body-2 {
  margin: 0 300px 0px 300px;
}
figure{
  padding: 0;
  margin: 0;
}