body {
  margin: 0;
  padding: 0;
  font-family: 'nyt-imperial'; 
  color: #333;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 63px;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
}

.menu > div {
  background-color: white;
  width: 35%;
  margin-bottom: 5px;
}

.img-logo {
  max-width: 250px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.img-side-menu,
.search-btn-img {
  background-color: white;
  width: 30px;
  height: 30px;
  margin-left: 25px;
  margin-top: 20px;
}

}
.div-logo {
  text-align: center;
}

.button-acc {
  color: white;
  background-color: rgb(86, 123, 149);
  border-radius: 4px;
  border: 1px solid rgb(50, 104, 145);
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 5px;
  min-width: 40%;
  max-width: 60%;
  margin-left: 58px;
  
}

.login-button {
  margin-top: 15px;
  margin-left: 60px;
  min-width: 25%;
  max-width: 25%;
}

.side-menu {
  margin-top: 10px;
  margin-left: 20px;
}

.title h1 {
  text-align: left;
  font-style: italic;
  max-width: 600px;
  line-height: 3rem;
  font-size: 2.7rem;
  font-weight: 500;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 15px;
}

.headline {
  padding-top: 100px;
  margin-left: 25%;
  margin-bottom: 50px;
  font-weight: bolder;
}

.main-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%; 
  height: 530px;
}

.description {
  text-align:left;
  margin-left: 13%;
  margin-right:10px;
  font-size: 16px;
  color :#666;
  width: 70%;
  margin-top: 5px;
}

.credit {
  font-size: 10px;
}

.credit-1::before {
  width: 60px;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0;
  background-color: black;
  margin-left:8px;
}

.credit-1 {
  text-align: left;
  margin-left:5%;
}

.main-topic {
  margin: 0 20% 0px 20%;
}

.name-and-date {
  text-align: left;
}

.first-text p {
  justify-content: left;
  font-size: 1.4rem;
}

.first-text h3 {
  font-size: 1.7rem;
}

.theory-of-avi-grid {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.theory-of-avi h3, .theory-of-avi p.avi-parag {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10%;
}

.theory-of-avi p.avi-parag {
  color: #666;
  width: 80%;
}

.theory-of-avi-grid div img, .theory-of-avi-grid div p {
  width: 280px;
  height: 150px;
}

.theory-of-avi-grid div {
  margin-right: 20px;
}

.second-text p {
  justify-content: left;
  font-size: 1.4rem;
}

.second-text h3 {
  font-size: 1.7rem;
}

.main-body-2 {
  margin: 0 20% 0px 20%;
}

figure {
  padding: 0;
  margin: 0;
}
.credit {
  color: #888;
}

figcaption {
  color: #666;
}
.bottom-of-page {
  font-size: 0.8rem;
  color:#666;
}

.bottom-of-page a {
  text-decoration: underline;
  color:#666;
}

.comment-button {
  color:white;
  background-color:rgb(86, 123, 149);
  border-radius: 4px;
  border: 1px solid rgb(50, 104, 145);
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.5rem;
  padding: 5px;
  max-width: 70%;
  width:50%; 
}

.bottom-button {
  margin-top: 20px;
}

.letter {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%; 
}

.letter-head {
  display: flex;
  margin-left: 10%;
}

.suggested-letters {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.suggested-letter-items, .space-and-astronomy-items {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;
}

.space-and-astronomy-items {
  margin-top: 0;
}

.suggested-letter-head h2, .popular-letter-head h2 {
  border-top: 1px solid black;
  margin-right: 20px ;
}

.suggested-letter-items > div, .popular > div {
  border-top: 1px solid #6666;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #6666;
}

.space-and-astronomy-items > div {
  padding: 20px 0 20px 0;
}

.space-and-astronomy-title {
  font-weight: bold;
}

.suggested-letter-items img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.space-and-astronomy-items img {
  width: 100%;
  height: 150px;
}

.suggested-letter-items span {
  display: block;
  margin: 0;
  margin-left: 10px;
}

.news-letters-desc, .sp-as-items-desc {
  width: 100%;
}

.news-letters-desc p, .news-letters-desc h2, .sp-as-items-desc p, .sp-as-items-desc h2 {
  margin: 0;
  margin-left: 10px;
}

.news-letters-desc p, .sp-as-items-desc p {
  padding-bottom: 30px;
}

.news-letters {
  border: 1px solid grey;
  margin-right: 20px;
  padding: 10px;
  width: 33%;
  position: relative;
}

.sp-as-items {
  margin-right: 20px;
  padding: 10px;
  width: 33%;
}

.latest {
  padding-top: 50px;
  color: #3331ad;
  position: absolute;
  bottom: 0;
}

.popular-letters {
display: flex;
flex-direction: column;
width: 30%;
}

.bottom-line {
  border-top: 1px solid black;
  margin: 20px 0 20px 0;
}

.popular-letters li:first-child {
  border-top: 1px solid #6666 ;
}

.popular-letters li {
  border-bottom: 1px solid #6666;
  padding: 10px;
  list-style: none;
  color: black;
} 

.img-title-as {
  font-size: 10px;
  color: grey;
  margin-top: 0;
}

.sp-as-items-desc h3, .sp-as-items-desc p {
  margin: 0;
  padding: 0;
}

.space-date {
  color: grey;
  padding-top: 50px;
}

.small-title {
  max-width: 200px;
  margin-top: 2px;
  margin-left: 40px;
  margin-right: 15px;
  
}

.go-to-homepage {
  color: rgb(86, 123, 149);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    
}

.title-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
}
.footer{
  margin-left: 3%;
  margin-right: 3%;
}

.lower-list li{
  font-size: 13px;
  font-weight: bolder;
  height: 44px;
  letter-spacing: 0.04rem;
  line-height: 44px;
  border-bottom: 1px solid rgb(221, 206, 206);
  padding-top:5px ;
  list-style:none;
}

.lower-list li:first-child{
margin-top: -17px;
}

.title-image {
  padding: 5px 0;
  border-top: solid 3px rgb(221, 206, 206);
  font-weight: bold;
  position: relative;
}

.title-image ::after {
  content: '';
  border-bottom: solid 1px rgb(221, 206, 206);
  width: 100%;
  position: absolute;
  left: 0;
  top:0;
}

.title-image ::after {
  content: '';
  border-bottom: solid 1px rgb(221, 206, 206);
  width: 100%;
  position: absolute;
  left: 0;
  top:0;
  }

.contact-us li {
  display: inline;
  list-style: none;
  line-height: 8px; 
  color: #666;
  padding-right: 2%;
}

.contact-us li a{
  text-decoration: none !important;
  color: #666;
}
    
.footer-list {
  text-align: center;
  font-size: 11px;
}

.social-media-icons {
  width: 100%;
  margin:-3% 20% 3% 25%;
}

.social-media-icons a img{
  margin-right: 20px;
  border-radius: 50%;
}

.social-inline{
  display: inline;
  margin-left: 2%;
  padding-right: 0px;
}