@font-face {
  font-family: "Open Sans";
  src: url("https://g1.nyt.com/fonts/css/web-fonts.5810def60210a2fa7d0848f37e3fa048bb6147b1.css");
}

body,
figure {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: georgia, 'times new roman', times, serif;
}

.container {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 63px;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  height: 2.8rem;
  z-index: 10;
}

.menu > div {
  background-color: white;
  width: 33.3%;
  margin-bottom: 5px;
}

.img-logo {
  max-width: 250px;
  margin-top: 5px;
  margin-left: 14px;
  margin-right: 15px;
}

.nav-left-elem {
  position: relative;
}

.space-cosmos {
  position: absolute;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  top: 15px;
  margin-left: 20px;
}

.space-cosmos:hover {
  text-decoration: underline;
}

.img-side-menu,
.search-btn-img {
  background-color: white;
  width: 30px;
  height: 30px;
  margin-left: 25px;
  margin-top: 8px;
}

.div-logo {
  text-align: center;
}

.login {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.subscribe-btn {
  width: 80%;
}

.subscribe {
  float: right;
}

.login-btn {
  width: 20%;
}

.login button {
  color: white;
  background-color: rgb(86, 123, 149);
  border-radius: 4px;
  border: 1px solid rgb(50, 104, 145);
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 5px;
  max-width: 70%;
  width: 50%;
  margin-left: 10px;
  margin-top: 5px;
}

.side-menu {
  margin-top: 10px;
  margin-left: 20px;
}

.title h1 {
  text-align: left;
  font-style: italic;
  max-width: 600px;
  line-height: 3rem;
  font-size: 2.7rem;
  font-weight: 500;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 15px;
}

.headline {
  padding-top: 100px;
  margin-left: 25%;
  margin-bottom: 50px;
  font-weight: bolder;
}

.main-img {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 630px;
}

.description {
  text-align: left;
  margin-left: 11%;
  font-size: 16px;
  color: #666;
  width: 70%;
  margin-top: 5px;
}

.credit {
  font-size: 10px;
  color: #888;
}

.credit-1::before {
  width: 60px;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0;
  background-color: black;
  margin-left: 8px;
}

.credit-1 {
  text-align: left;
  margin-left: 5%;
}

.main-topic {
  margin: 0 0 0 25%;
}

.name-and-date {
  text-align: left;
}

.first-text {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.para-cambr {
  max-width: 60%;
}

.editor-pick {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.editor-pick div h4 {
  margin: 150% 10% 10px 30%;
  border-bottom: 1px solid #6666;
  padding-bottom: 10px;
  float: left;
}

.editorial-item {
  display: flex;
  flex-direction: row;
  margin: 0 10% 10px 30%;
}

.editorial-item-desc {
  margin-top: 10px;
  max-width: 60%;
}

.bottom-of-page a {
  text-decoration: underline;
  color: #666;
}

.other-button a {
  float: right;
  font-size: 13px;
  margin-right: 0;
}

.editor-pick img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.first-text p {
  justify-content: left;
  font-size: 1.4rem;
}

.first-text h3 {
  font-size: 1.7rem;
}

.theory-of-avi-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.theory-of-avi h3,
.theory-of-avi p.avi-parag {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10%;
}

.theory-of-avi p.avi-parag {
  color: #666;
  width: 80%;
}

.second-text p {
  justify-content: left;
  font-size: 1.4rem;
}

.suggested-letter-items img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.space-and-astronomy-items img {
  width: 100%;
  height: 150px;
}

.news-letters-desc p,
.news-letters-desc h2,
.sp-as-items-desc p,
.sp-as-items-desc h2 {
  margin: 0;
  margin-left: 10px;
}

.news-letters-desc p,
.sp-as-items-desc p {
  padding-bottom: 30px;
}

.sp-as-items-desc h3,
.sp-as-items-desc p {
  margin: 0;
  padding: 0;
}

.theory-of-avi-grid div img,
.theory-of-avi-grid div p {
  width: 280px;
  height: 150px;
}

.theory-of-avi-grid div {
  margin-right: 20px;
}

.second-text h3 {
  font-size: 1.7rem;
}

.main-body-2 {
  margin: 0 25% 0 25%;
}

.secondary-image,
iframe {
  width: 100%;
  height: 520px;
}

figcaption {
  color: #666;
}

.bottom-of-page {
  font-size: 0.8rem;
  color: #666;
}

.comment-button {
  color: white;
  background-color: rgb(86, 123, 149);
  border-radius: 4px;
  border: 1px solid rgb(50, 104, 145);
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.5rem;
  padding: 5px;
  max-width: 70%;
  width: 50%;
}

.bottom-button {
  margin-top: 20px;
}

.letter {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.letter-head {
  display: flex;
  margin-left: 10%;
}

.suggested-letters {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.suggested-letter-items,
.space-and-astronomy-items {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;
}

.space-and-astronomy-items {
  margin-top: 0;
}

.suggested-letter-head h2,
.popular-letter-head h2 {
  border-top: 1px solid black;
  margin-right: 20px;
}

.suggested-letter-items > div,
.popular > div {
  border-top: 1px solid #6666;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #6666;
}

.space-and-astronomy-items > div {
  padding: 20px 0 20px 0;
}

.space-and-astronomy-title {
  font-weight: bold;
}

.suggested-letter-items span {
  display: block;
  margin: 0;
  margin-left: 10px;
}

.news-letters-desc,
.sp-as-items-desc {
  width: 100%;
}

.news-letters {
  position: relative;
  border: 1px solid grey;
  margin-right: 20px;
  padding: 10px;
  width: 33%;
}

.sp-as-items {
  margin-right: 20px;
  padding: 10px;
  width: 33%;
}

.latest {
  padding-top: 50px;
  color: #3331ad;
  position: absolute;
  bottom: 0;
  z-index: -10;
}

.popular-letters {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.bottom-line {
  border-top: 1px solid black;
  margin: 20px 0 20px 0;
}

.popular-letters li {
  border-bottom: 1px solid #6666;
  padding: 10px;
  list-style: none;
  color: black;
}

.lower-list li {
  font-size: 13px;
  font-weight: bolder;
  height: 44px;
  letter-spacing: 0.04rem;
  line-height: 44px;
  border-bottom: 1px solid rgb(221, 206, 206);
  padding-top: 5px;
  list-style: none;
}

.footer-top-text {
  font-size: 13px;
  color: #666;
}

.contact-us li {
  display: inline;
  list-style: none;
  line-height: 8px;
  padding-right: 2%;
}

.footer-desktop-cols div li {
  list-style: none;
  padding-top: 10px;
}

.popular-letters li:first-child {
  border-top: 1px solid #666;
}

.img-title-as {
  font-size: 10px;
  color: grey;
  margin-top: 0;
}

.space-date {
  color: grey;
  padding-top: 50px;
}

.small-title {
  max-width: 200px;
  margin: 15px 15px 0 0;
}

.go-to-homepage {
  color: rgb(86, 123, 149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.title-image {
  display: grid;
  grid-template-columns: 80% 20%;
  border-top: solid 3px rgb(221, 206, 206);
  font-weight: bold;
  position: relative;
  margin-left: 8%;
  margin-right: 8%;
}

.footer-tab {
  margin-left: 3%;
  margin-right: 3%;
}

.lower-list li:first-child {
  margin-top: -17px;
}

.other-button {
  padding-top: 5px;
}

.title-image ::after {
  content: '';
  border-bottom: solid 1px rgb(221, 206, 206);
  padding-top: 1.5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer-list {
  text-align: center;
  border-top: solid 1px rgb(221, 206, 206);
  margin-left: 8%;
  margin-right: 8%;
  padding: 10px 0;
}

.footer-list ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #666;
}

.social-media-icons {
  margin: -2% 20% 1% 25%;
}

.social-media-icons a img {
  margin-right: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.social-inline {
  display: inline;
  margin-left: 2%;
  padding-right: 0;
}

.footer-desktop-cols {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-left: 8%;
  margin-right: 8%;
}

.footer-desktop-cols > div {
  margin-top: -10%;
}

.subscribe-ft ul {
  font-size: 10px;
}

.footer-desktop-cols div ul {
  padding-left: 0;
}

.footer-desktop-cols div ul li:first-child {
  font-weight: bolder;
  margin-bottom: 7px;
}

.footer-desktop-cols div h4 {
  margin-bottom: 5px;
  margin-left: 18%;
}

.editor-pick div span a {
  color: #666;
}

.footer-desktop-cols div li a,
.editor-pick div span a {
  color: black;
  text-decoration: none;
}

.contact-us li a:hover,
.footer-desktop-cols div li a:hover,
.editor-pick div span a:hover {
  text-decoration: underline;
}

.subscribe-ft {
  border-left: 1px solid rgb(209, 199, 199);
  padding-left: 5%;
}

.subscribe-ft ul:first-child {
  font-weight: bolder;
  font-size: 16px;
}

.email-subs {
  border-bottom: 1px solid rgb(209, 199, 199);
  padding-bottom: 20px;
}

.subscribe_svg {
  width: 20px;
  height: 20px;
}

@media only screen  and (min-width: 1224px) {
  .footer-tab {
    display: none;
  }
}

@media only screen  and (max-width: 1224px) {
  .footer-desktop {
    display: none;
  }
}
